.container {
   display: flex;
   height: 200px;
   background: #eee;
   border-radius: 20px;
   padding: 20px;
   flex-wrap: wrap;
}
.weather {
   width: 180px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.icon {
   width: 120px;
}
.icon img {
   width: 100%;
   height: 100%;
   object-fit: contain;
   background-color: #aaa;
   border-radius: 50%;
   overflow: hidden;
}
.desc {
   color: #333;
   font-size: 1em;
   text-align: center;
}
.params {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}
.params div {
   display: flex;
   flex-direction: column;
   flex: 1;
   align-items: center;
   font-style: italic;
}
.params span {
   font-style: normal;
   font-size: 2em;
   font-weight: 800;
}
