.button {
   width: 30px;
   height: 30px;
   border-radius: 5px;
   font-size: 1.5em;
   background: #eee;
   border: none;
   cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
}
.button_edit ion-icon {
   color: rgb(7, 77, 7);
}
.button_add {
   color: rgb(28, 20, 131);
}
.button_remove {
   color: rgb(133, 27, 27);
}
.button_big {
   width: 60px;
   height: 60px;
   border-radius: 50%;
}
