.container {
   display: flex;
   flex-direction: column;
   align-items: center;
   align-self: flex-start;
   border: 1px solid #555;
   border-radius: 10px;
   overflow: hidden;
   background: #ccc;
}
.title {
   width: 100%;
   padding: 0 10px;
   background: #999;
   text-align: center;
}